/Tools/PSet2YamlConverter/PSet2YamlConverter/PSet2YamlConverter.csproj.user
/Tools/PSet2YamlConverter/PSet2YamlConverter/obj
/Tools/PSet2YamlConverter/PSet2YamlConverter/bin
/Tools/PSet2YamlConverter/.vs
/Tools/PSet2YamlConverter/PSD_IFC5/PSD_IFC5.csproj.user
/Tools/PSet2YamlConverter/PSD_IFC5/obj
/Tools/PSet2YamlConverter/PSD_IFC5/bin